fieldset {
  margin: var(--spacing-3) 0px;
  border: 0.5px solid var(--color-tertiary);
  padding: var(--spacing-3) var(--spacing-3);
}

@media (max-width: 748px) {
  fieldset {
    padding: var(--spacing-1) var(--spacing-1);
  }
}

legend {
  display: block;
  background-color: inherit;
  padding: 0px var(--spacing-3);
  font-size: var(--typography-4);
  font-weight: 600;
  color: var(--color-primary);
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.form__row {
  display: grid;
  align-items: center;
  grid-gap: var(--spacing-4);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

@media (max-width: 748px) {
  .form__row.shrink {
    grid-auto-flow: row;
  }
}

form label {
  display: block;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}

form label span {
  color: var(--color-primary);
  padding-left: 2px;
}

form input[type='text'],
form input[type='tel'],
form input[type='search'],
form select,
.stolteInputClassName form select {
  width: 100%;
  box-sizing: border-box;
  height: var(--spacing-4);
  padding: 0 var(--spacing-1);
  outline: none;
  border: 1px solid var(--color-tertiary);
  /* border-radius: var(--spacing-1); */
  color: var(--color-primary);
  font-size: 1.1rem;
}

form input[error="true"] {
  border: 1px solid var(--color-error);
}

form input[error="true"]:focus {
  border: 1px solid var(--color-tertiary);
}

form select {
  padding: 0.4rem var(--spacing-1);
}

form input[type='text']:focus,
form input[type='tel']:focus,
form input[type='search']:focus,
form select:focus,
.stolteInputClassName:focus {
  border-color: var(--color-primary);
}

form .field {
  position: relative;
  height: calc(var(--spacing-4) + var(--typography-6) + 0.2rem);
}

form .field > span, .buttonGroup + span {
  color: var(--color-error); 
  font-weight: 500;
  padding-left: 8px;
  font-size: var(--typography-6);
  display: block;
  margin-top: 0.2rem;
}

form input[type='text']::placeholder,
form input[type='tel']::placeholder,
form input[type='search']::placeholder {
  color: transparent;
}

form input[type='text']:focus::placeholder,
form input[type='tel']:focus::placeholder,
form input[type='search']:focus::placeholder {
  color: transparent;
}

form input[type='text'] + label,
form input[type='tel'] + label,
form input[type='search'] + label,
form select + label {
  position: absolute;
  top: 0.9rem;
  left: 0.5rem;
  transition: all 0.3s ease;
  pointer-events: none;
  background: white;
  padding: 0px 5px;
  color: var(--color-tertiary);
  font-size: 0.9rem;
}
form input[type='text']:not(:placeholder-shown) + label,
form input[type='text']:focus + label,
form input[type='tel']:not(:placeholder-shown) + label,
form input[type='tel']:focus + label,
form input[type='search']:not(:placeholder-shown) + label,
form input[type='search']:focus + label,
form select[data-option]:not([data-option='']) + label {
  top: -0.8rem;
  font-size: 0.8rem;
  pointer-events: initial;
  background-color: var(--color-paper);
  color: var(--color-primary);
}

form input[type='submit'] {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: var(--spacing-1);
  font-size: var(--typography-4);
  text-align: center;
  margin: var(--spacing-2) auto;
  padding: var(--spacing-1) var(--spacing-6);
  color: var(--color-html);
}

.stolteDropdownClassName {
  z-index: 2;
  background-color: var(--color-paper);
  border: 1px solid var(--color-primary);
  border-top: none !important;
  border-radius: var(--spacing-1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: var(--color-primary) !important;
  margin-top: -5px;
}

.stolteDropdownClassName .autocomplete-list-item .selected {
  background-color: var(--color-secondary);
}

.stolteDropdownClassName > div {
  color: var(--color-primary);
}

form input[type='search']:focus + label + .list__options {
  display: block;
}

form .list__option {
  position: relative;
  padding: var(--spacing-1) var(--spacing-2);
}

form .list__option:hover {
  background-color: var(--color-primary);
  color: white;
}

form input[type='submit']:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: white;
}

/* Radio Group */

form .radioSelect [type='radio']:checked,
form .radioSelect [type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

form .radioSelect [type='radio']:checked + label,
form .radioSelect [type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

form .radioSelect [type='radio']:checked + label::before,
form .radioSelect [type='radio']:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-secondary);
  border-radius: 100%;
  background: #fff;
}

form .radioSelect [type='radio']:checked + label::after,
form .radioSelect [type='radio']:not(:checked) + label::after {
  content: '';
  position: absolute;
  left: 3px;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--color-primary);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form .radioSelect [type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

form .radioSelect [type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

form .radioSelect .radio__option {
  height: var(--spacing-6);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-2);
}

form .radioSelect .radio__option + .radio__option {
  margin-top: var(--spacing-1);
}

form .radioSelect .radio__option:hover {
  border: 1px solid var(--color-secondary);
}

form .radioSelect [type='radio']:checked ~ .radio_option {
  border: 2px solid var(--color-primary);
}

.buttonGroup {
  display: inline-block;
}

.buttonGroup input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.buttonGroup input[type="radio"]+label {
  float: left;
  padding: var(--spacing-1) var(--spacing-2);
  cursor: pointer;
  border: 1px solid var(--color-primary);
  margin-right: -1px;
  color: var(--color-primary);
  background-color: inherit;
}

.buttonGroup input[type="radio"]+label:hover {
  background-color: hsl(var(--color-primary-hs), 90%);
}

.buttonGroup input[type="radio"]+label:first-of-type {
  border-radius: 0.7em 0 0 0.7em;
}

.buttonGroup input[type="radio"]+label:last-of-type {
  border-radius: 0 0.7em 0.7em 0;
}

.buttonGroup input[type="radio"]:checked+label {
  background-color: var(--color-primary);
  color: white;
}

/* Switch */

.switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

.switch + label {
  display: inline-block;
  margin: 0;
  margin-right: var(--spacing-1);
  width: var(--spacing-5);
  height: var(--spacing-2);
  background-color: lightgrey;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow: 0 0 50px #477a85; */
}

.switch + label::after {
  content: '';
  width: calc(1.5 * var(--spacing-2));
  height: calc(1.5 * var(--spacing-2));
  background-color: grey;
  position: absolute;
  border-radius: 70px;
  top: calc(-0.25 * var(--spacing-2));
  left: calc(-0.25 * var(--spacing-2));
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch:checked + label {
  background-color: var(--color-secondary);
}

.switch:checked + label:after {
  left: calc(100% - 1.25 * var(--spacing-2));
  background-color: var(--color-primary);
}

.buttongroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-1);
}

.buttongroup .button {
  margin: 4px;

  border-radius: 4px;
  border: 1px solid var(--color-tertiary);
  overflow: hidden;
}

.buttongroup .button label {
  margin: 0px;
}

.buttongroup .button label span {
  text-align: center;
  padding: var(--spacing-1) var(--spacing-3);
  background-color: var(--color-paper);
  display: block;
  cursor: pointer;
}

.buttongroup .button label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.buttongroup .button label input + span {
  color: var(--color-primary);
}

/* This will declare how a selected input will look giving generic properties */
.buttongroup .button input:checked + span {
  color: #ffffff;
  background-color: var(--color-primary);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
